@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Onesud University</h2>
        <p>
            Onesud University is a university student management application that
            uses Entity Framework 6 in an ASP.NET MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Consider enrolling for one of our worldclass courses?</h2>
        <p>You can enroll to our world class renowned programs and be part of the many students enjoying  what the universtity has to offer.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/"> Register Here</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign into your existing Student Account</h2>
        <p>You can log back in and continue your learning. Just sign into your existing Onesud student's account.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Sign in</a></p>
    </div>
</div>